{% extends 'shared/base.html' %}
{% load extra_filters %}

{% block title %}
    گرگان ابزار | خرید ابزار آلات صنعتی
{% endblock %}

{% block content %}
    {% if categories %}
        <!-- CATEGORY -->
        <section class="mx-4 lg:container mt-20">
            <!-- SECTION TITLE -->
            <div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                    <svg class="size-7 text-gray-700 dark:text-gray-100">
                        <use href="#squares"></use>
                    </svg>
                </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">دسـته بندی
                            هـای
                            <span class="text-blue-600 dark:text-blue-500">محبوب</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین دسته بندی ها</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-center items-center gap-x-2 hidden">
                    <a href="{% url 'product_list' %}"
                       class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                        <svg class="size-5">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
                    </a>
                </div>
            </div>
            <!-- ITEMS -->
            <div class="flex items-center justify-evenly flex-wrap mt-12 child:mb-8 gap-x-8 child:items-center child:flex-col child:duration-300 child:cursor-pointer child:gap-y-1 child:text-gray-800 child:dark:text-gray-300 child:relative">
                {% for category in categories %}
                    <a href="{% url 'product_list' %}?category={{ category.slug }}" class="group flex">
                        <img src="{% if category.image %}{{ category.image.url }}{% endif %}"
                             class="w-[100px] h-[100px] lg:w-[120px] lg:h-[120px] rounded-md object-cover group-hover:grayscale group-hover:opacity-90 duration-300"
                             alt="{{ category.title_en }}">
                        <p class="pt-1 text-sm lg:text-lg line-clamp-1">{{ category.title }}</p>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% if featured_products %}
        <!-- Featured Products -->
        <section class="mx-4 lg:container mt-20">
            <div class="w-full h-80 rounded-xl bg-blue-500 dark:bg-blue-700 p-4 relative">
                <!-- AmazingSlider products Slider -->
                <div class="swiper AmazingSlider w-full rounded-xl">
                    <div class="swiper-wrapper">
                        <!-- item -->
                        <div class="swiper-slide amazing-card">
                            <img class="w-28 h-28" src="/static/images/slider/Amazings.svg" alt="sale">
                            <a href="{% url 'product_list' %}?sort_by=most_discount"
                               class="flex items-center gap-x-.5 text-gray-100 cursor-pointer">
                                <p>مشاهده همه</p>
                                <svg class="size-4 rotate-90">
                                    <use href="#chevron"></use>
                                </svg>
                            </a>
                        </div>
                        {% for product in discounted_products %}
                            {% include 'home/components/discounted_card.html' %}
                        {% endfor %}
                        <a href="{% url 'product_list' %}?sort_by=most_discount" class="swiper-slide amazing-card_last">
                            <svg class="size-10 ">
                                <use href="#arrow-left-circle"></use>
                            </svg>
                            <h2>مشاهده همه</h2>
                        </a>
                    </div>
                </div>
                <button class="slider-navigate_btn absolute right-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-prev-slide z-10">
                    <svg class="size-6 -rotate-90">
                        <use href="#chevron"></use>
                    </svg>
                </button>
                <button class="slider-navigate_btn absolute left-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-next-slide z-10">
                    <svg class="size-6 rotate-90">
                        <use href="#chevron"></use>
                    </svg>
                </button>
            </div>
        </section>
    {% endif %}

    {% if latest_products %}
        <!-- Latest products -->
        <section class="mx-4 lg:container mt-10 lg:mt-20">
            <!-- SECTION TITLE -->
            <div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                    <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                        <svg class="size-7 text-gray-700 dark:text-gray-100">
                            <use href="#mobile"></use>
                        </svg>
                    </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">جدید ترین
                            <span class="text-blue-600 dark:text-blue-500">محصولات</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین محصولات</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-between xs:justify-end  items-center gap-x-2">
                    <div class="flex items-center gap-x-2">
                        <button class="slider-navigate_btn LatestProducts-prev-slide">
                            <svg class="size-6 -rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                        <button class="slider-navigate_btn LatestProducts-next-slide">
                            <svg class="size-6 rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                    </div>
                    <a href="{% url 'product_list' %}"
                       class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                        <svg class="size-5">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
                    </a>
                </div>

            </div>
            <!-- Latest products Slider -->
            <div class="swiper LatestProducts mt-5 w-full">
                <div class="swiper-wrapper py-5">
                    <!-- PRODUCT ITEM -->
                    {% for product in latest_products %}
                        {% include 'product/detail/components/card.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- BANNER -->
    <section
            class="mx-4 lg:container mt-10 lg:mt-20 flex flex-col lg:flex-row items-center gap-5 child:rounded-xl child:overflow-hidden">
        <a href="{% url 'product_list' %}?brand=ronix" class="group">
            <img src="/static/images/banner/1.png" class="group-hover:scale-105 transition-transform duration-300" alt="banner">
        </a>
        <a href="{% url 'product_list' %}?brand=dingqi" class="group">
            <img src="/static/images/banner/2.png" class="group-hover:scale-105 transition-transform duration-300" alt="banner">
        </a>
    </section>

    {% if brands %}
        <!-- BRAND -->
        <section class="mx-4 lg:container mt-10 lg:mt-20">
            <!-- SECTION TITLE -->
            <div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                    <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                        <svg class="size-7 text-gray-700 dark:text-gray-100">
                            <use href="#check-badge"></use>
                        </svg>
                    </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">محبوب‌ترین
                            <span class="text-blue-600 dark:text-blue-500">برندها</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین برندها</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-between xs:justify-end  items-center gap-x-2 hidden">
                    <div class="flex items-center gap-x-2">
                        <button class="slider-navigate_btn brand-prev-slide">
                            <svg class="size-6 -rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                        <button class="slider-navigate_btn brand-next-slide">
                            <svg class="size-6 rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                    </div>
                    <a href="{% url 'product_list' %}"
                       class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                        <svg class="size-5">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
                    </a>
                </div>
            </div>
            <!-- BRAND Slider -->
            <div class="swiper BrandSlider mt-5 w-full">
                <div class="swiper-wrapper py-5 w-full">
                    <!-- PRODUCT ITEM -->
                    {% for brand in brands %}
                        <a href="{% url 'product_list' %}?brand={{ brand.slug }}" class="swiper-slide brand-card group">
                            <img src="{% if brand.logo %}{{ brand.logo.url }}{% endif %}" class="rounded-md"
                                 alt="{{ brand.title_en }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if discounted_products %}
        <!-- Discounted products -->
        <section class="mx-4 lg:container mt-10 lg:mt-20 ">
            <div class="bg-white dark:bg-gray-800 shadow rounded-xl h-[420px] p-5 flex flex-col gap-y-2 relative">
                <!-- Title -->
                <div class="flex-center gap-x-1 mb-2">
                    <svg class="size-8 pb-1 text-red-600">
                        <use href="#fire"></use>
                    </svg>
                    <h4 class="font-DanaMedium text-lg text-gray-800 dark:text-gray-200">داغ ترین چند ساعت گذشته </h4>
                </div>
                <div class="swiper HottestSlider w-full">
                    <div class="swiper-wrapper w-full">
                        {% for product in discounted_products|slice:":12" %}
                            <!-- PRODUCT ITEM -->
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="swiper-slide hottest-slide">
                            {% endif %}
                        <a href="{{ product.get_absolute_url }}" class="hottest-slide_link ">
                            <img class="hottest-slide_img" src="{{ product.image.url }}" alt="svg">
                            <p class="hottest-slide_text ">{{ product.title }}</p>
                        </a>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button class="slider-navigate_btn absolute right-1 top-[47%] border dark:border-gray-700 border-gray-200 Hottest-prev-slide z-10">
                    <svg class="size-6 -rotate-90">
                        <use href="#chevron"></use>
                    </svg>
                </button>
                <button class="slider-navigate_btn absolute left-1 top-[47%] border dark:border-gray-700 border-gray-200 Hottest-next-slide z-10">
                    <svg class="size-6 rotate-90">
                        <use href="#chevron"></use>
                    </svg>
                </button>
            </div>
        </section>
    {% endif %}

    {% if posts %}
        <!-- ARTICLE -->
        <section class="mx-4 lg:container mt-10 lg:mt-20">
            <!-- SECTION TITLE -->
            <div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                    <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                        <svg class="size-7 text-gray-700 dark:text-gray-100">
                            <use href="#check-badge"></use>
                        </svg>
                    </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">محبوب‌ترین
                            <span class="text-blue-600 dark:text-blue-500">مقالات</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین مقالات</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-between xs:justify-end  items-center gap-x-2">
                    <div class="flex items-center gap-x-2">
                        <button class="slider-navigate_btn articleSlider-prev-slide">
                            <svg class="size-6 -rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                        <button class="slider-navigate_btn articleSlider-next-slide">
                            <svg class="size-6 rotate-90">
                                <use href="#chevron"></use>
                            </svg>
                        </button>
                    </div>
                    <a href="{% url 'post_list' %}"
                       class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                            <svg class="size-5">
                                <use href="#arrow"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="swiper articleSlider w-full mt-5">
                <div class="swiper-wrapper w-full py-5">
                    {% for post in posts %}
                        <!-- ITEM -->
                        <div class="swiper-slide group article-box">
                            <div class="relative overflow-hidden rounded-lg">
                                <img src="{{ post.image.url }}" class="article-box_img" alt="{{ post.slug }}">
                                <div class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                    <a href="{{ post.get_absolute_url }}"
                                       class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                        <p>ادامه مطالب</p>
                                        <svg class="w-4 h-4 rotate-90">
                                            <use href="#chevron"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="flex flex-col gap-y-1 py-5 px-1">
                                <h2 class="font-DanaDemiBold">{{ post.title }}</h2>
                            </div>
                            <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                            <div class="flex items-center justify-between text-sm px-1">
                                <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                    <svg class="w-4 h-4">
                                        <use href="#calendar"></use>
                                    </svg>
                                    <p class="mt-1">{{ post.created_at|show_date_default }}</p>
                                </span>
                                <span class="flex items-start gap-x-1 text-gray-300">
                                    <p class="font-DanaDemiBold">{{ post.visit_count }}</p>
                                    <svg class="w-4 h-4">
                                        <use href="#eye"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- Features -->
    <div class="container w-full mt-10 lg:mt-20 flex flex-wrap items-center  justify-center md:justify-between gap-6 child:text-sm child:gap-y-1 child:cursor-pointer">
        <!-- item -->
        <span class="flex-col items-center justify-center hidden md:flex">
            <img class="w-14 h-14" src="/static/images/svg/1.svg" alt="svg">
            <p class="text-gray-500 dark:text-gray-300">تحویل سریع</p>
        </span>
        <span class="flex flex-col items-center justify-center">
            <img class="w-14 h-14" src="/static/images/svg/2.svg" alt="svg">
            <p class="text-gray-500 dark:text-gray-300">سلامت فیزیکی کالا</p>
        </span>
        <span class="flex flex-col items-center justify-center">
            <img class="w-14 h-14" src="/static/images/svg/3.svg" alt="svg">
            <p class="text-gray-500 dark:text-gray-300">ضمانت بازگشت کالا</p>
        </span>
        <span class="flex flex-col items-center justify-center">
            <img class="w-14 h-14" src="/static/images/svg/4.svg" alt="svg">
            <p class="text-gray-500 dark:text-gray-300">پشتیبانی 24 ساعته</p>
        </span>
    </div>

    <script src="/static/scripts/actions.js"></script>
{% endblock %}