{% load static %}
{% load render_partial %}
<!doctype html>
<html class="dark" lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | {{ SITE_TITLE }}</title>
    {% render_partial 'home.views.site_header_component' %}
    <link rel="stylesheet" href="/static/css/swiper-bundle.css">
    <style>
        #global-loader {
            z-index: 999999 !important;
            position: fixed !important;
        }
    </style>
    <meta name="description" content="#">
    <meta name="keywords" content="}">
    <meta name="author" content="#">
    <link rel="canonical" href="#">
    <meta property="og:type" content="website">
    <meta property="og:title" content="#">
    <meta property="og:description" content="#">
    <meta property="og:image" content="#">
    <meta property="og:url" content="#">
    <meta property="og:site_name" content="#">
    <meta name="twitter:card" content="#">
    <meta name="twitter:title" content="#">
    <meta name="twitter:description" content="#">
    <meta name="twitter:image" content="#">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "#",
          "url": "#",
          "logo": "#"
        }
    </script>
    <meta name="robots" content="index, follow">
    {% include 'shared/header_ref.html' %}
    {% block extra_header %}{% endblock %}
</head>
<body>
{% include 'shared/svg.html' %}
<main class="relative">
    {% block content %}{% endblock %}
</main>
{% render_partial 'home.views.site_footer_component' %}
{% include 'shared/footer_ref.html' %}
</body>
</html>