{% load static %}
{% load render_partial %}
<!doctype html>
<html class="dark" lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
        {% if not is_home_page %}
            | {{ SITE_TITLE }}
        {% endif %}
    </title> {% render_partial 'home.views.site_header_component' %}
    <link rel="stylesheet" href="/static/css/swiper-bundle.css">
    <style>
        #global-loader {
            z-index: 999999 !important;
            position: fixed !important;
        }
    </style>
    <meta name="description" content="فروشگاه گرگان ابزار | خرید ابزار آلات صنعتی با ارسال سریع به سراسر کشور">
    <meta name="keywords" content="ابزارآلات، ابزار صنعتی، ابزار ساختمانی، گرگان، خرید ابزار، گرگان">
    <meta name="author" content="Gorgan Abzar">
    <link rel="canonical" href="https://gorganabzar.ir/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="گرگان ابزار | فروش ابزارآلات">
    <meta property="og:description" content="خرید آنلاین و حضوری ابزارآلات صنعتی و ساختمانی و.. با بهترین قیمت در گرگان ابزار">
    <meta property="og:image" content="https://gorganabzar.ir/static/images/og-image.jpg">
    <meta property="og:url" content="https://gorganabzar.ir/">
    <meta property="og:site_name" content="Gorgan Abzar">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="گرگان ابزار | خرید آنلاین ابزارآلات">
    <meta name="twitter:description" content="فروش انواع ابزارآلات صنعتی و ساختمانی و.. با ارسال سریع">
    <meta name="twitter:image" content="https://gorganabzar.ir/static/images/og-image.jpg">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Gorgan Abzar"/>
    <link rel="manifest" href="/static/images/favicon/site.webmanifest"/>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Store",
          "name": "گرگان ابزار",
          "alternateName": "Gorgan Abzar",
          "url": "https://gorganabzar.ir",
          "logo": "https://gorganabzar.ir/static/images/og-image.jpg",
          "image": "https://gorganabzar.ir/static/images/og-image.jpg",
          "description": "فروشگاه ابزارآلات صنعتی گرگان ابزار با بیش از ۵۰ سال سابقه در فروش ",
          "sameAs": [
            "https://instagram.com/gorganabzar_com"
          ]
        }
    </script>

    <meta name="robots" content="index, follow">
    {% include 'shared/header_ref.html' %}
    {% block extra_header %}{% endblock %}
</head>
<body>
{% include 'shared/svg.html' %}
<main class="relative">
    {% block content %}{% endblock %}
</main>
{% render_partial 'home.views.site_footer_component' %}
{% include 'shared/footer_ref.html' %}
</body>
</html>