<div class="flex justify-center lg:hidden">
    <!-- Top Navbar -->
    <nav class="absolute top-0 inset-x-0 w-full h-16 px-4 shadow-sm dark:bg-gray-800 flex items-center justify-between">
        <!-- Menu -->
        <button class="open-menu-mobile flex-center p-2 app-border rounded-full">
            <svg class=" size-6">
                <use href="#bars"></use>
            </svg>
        </button>
        <div class="mobile-menu z-50 flex flex-col">
            <!--  MENU MOBILE header -->
            <div class="flex w-full items-center justify-between border-b-normal pb-4">
                <a href="{% url 'home_page' %}" class="text-3xl flex font-MorabbaMedium">
                    <span class="text-blue-500">گرگان</span>ابزار
                </a>
                <button class="close-menu-mobile">
                    <svg class="size-5 text-gray-500 dark:text-gray-200">
                        <use href="#x-mark"></use>
                    </svg>
                </button>
            </div>
            <!-- MENU MOBILE CATEGORY & ACTION  -->
            <ul class="flex flex-col gap-y-2 text-gray-800 dark:text-gray-100 mt-4">
                <li>
                    <span class="open-category mobile-menu-item">
                        <svg class="size-5">
                            <use href="#squares"></use>
                        </svg>
                        <a href="#">دسته بندی و برند ها</a>
                    </span>
                    <!-- MENU CATEGORY SLIDE -->
                    <div class="category-slide justify-center">
                        <div class=" w-full border-b-normal pb-4">
                            <span class="close-category-slide flex items-center gap-x-1 cursor-pointer">
                                <svg class="size-4">
                                    <use href="#arrow"></use>
                                </svg>
                                دسته بندی و برند ها
                            </span>
                        </div>
                        {% if categories %}
                            <ul class="child:flex pt-4 child:cursor-pointer space-y-2 border-b-normal pb-4">
                                {% for category in categories %}
                                    <a href="{% url 'product_list' %}?category={{ category.slug }}" class="justify-center">
                                        <li class="justify-center">
                                            <div class="relative">
                                            <span class="mobile-menu-category-badge">
                                                {{ category.title }}
                                            </span>
                                                <img src="{{ category.image.url }}"
                                                     class="h-28 w-full object-cover rounded"
                                                     alt="{{ category.slug }}">
                                            </div>
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if brands %}
                            <ul class="child:flex pt-4 child:cursor-pointer space-y-2 border-t-normal pt-4">
                                {% for brand in brands %}
                                    <a href="{% url 'product_list' %}?brand={{ brand.slug }}" class="justify-center">
                                        <li>
                                            <div class="relative">
                                            <span class="mobile-menu-brand-badge">
                                                {{ brand.title }}
                                            </span>
                                                <img src="{{ brand.logo.url }}"
                                                     class="h-28 w-full object-cover rounded"
                                                     alt="{{ brand.slug }}">
                                            </div>
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </li>
                <li class="mobile-menu-item">
                    <svg class="size-5">
                        <use href="#user"></use>
                    </svg>
                    <a href="{% url 'dashboard_view' %}">حساب کاربری</a>
                </li>
                <li class="mobile-menu-item">
                    <svg class="size-5">
                        <use href="#heart"></use>
                    </svg>
                    <a href="{% url 'favorite_products_view' %}">علاقه مندی ها</a>
                </li>
                <li class="mobile-menu-item">
                    <svg class="size-5">
                        <use href="#shopping-cart"></use>
                    </svg>
                    <a href="{% url 'user_cart_view' %}">سبد خرید</a>
                </li>
                <li class="mobile-menu-item">
                    <svg class="size-5">
                        <use href="#check-badge"></use>
                    </svg>
                    <a href="#">دربـاره مـا</a>
                </li>
                <li class="mobile-menu-item">
                    <svg class="size-5">
                        <use href="#phone"></use>
                    </svg>
                    <a href="{% url 'contact_us_page' %}">تـماس بـا مـا</a>
                </li>
            </ul>
        </div>
        <!-- Logo -->
        <a href="{% url 'home_page' %}" class="flex flex-col text-center">
            <span class="font-MorabbaMedium text-3xl flex items-center">
                <span class="text-blue-500">گرگان</span> ابزار
            </span>
        </a>
        <!-- Toggle theme -->
        <button class="toggle-theme flex-center p-2 app-border rounded-full ">
            <svg class="inline-block dark:hidden size-6">
                <use href="#moon"></use>
            </svg>
            <svg class="hidden dark:inline size-6">
                <use href="#sun"></use>
            </svg>
        </button>
    </nav>
    <!-- Search baer -->
    <button class="open-mobile_search-modal">
        <svg class=" size-6">
            <use href="#search"></use>
        </svg>
        <p>جستجو در <span class="font-MorabbaMedium">گرگان ابزار</span></p>
    </button>
    <!-- Search Moadal -->
    <div class="mobile_search-modal">
        <!-- TOP -->
        <div class="w-full flex items-center gap-x-2">
            <button class="w-full flex items-center gap-x-1 bg-gray-200 dark:bg-gray-800 text-gray-500 py-2 px-4 rounded-3xl">
                <svg class="size-6">
                    <use href="#search"></use>
                </svg>
                <input data-search-input data-mobile placeholder="جستجو در گرگان ابزار.." type="search" class="cursor-pointer">
            </button>
            <svg class="size-6 close-mobile_search-modal">
                <use href="#x-mark"></use>
            </svg>
        </div>
        <!-- Mobile Search Wrapper -->
        <div id="mobileSearchWrapper" class="w-full space-y-4">
            <!-- Search Results (مخفی تا زمانی که query >= 2) -->
            <div id="mobileSearchResultsWrapper" class="hidden">
                <ul id="searchResultMobile"
                    class="pt-4 text-gray-500 dark:text-gray-300 flex flex-col gap-y-4 child:flex-between child:cursor-pointer">
                </ul>
            </div>

            <!-- Popular Search همیشه نمایش داده میشه -->
            {% if popular_search %}
                <div class="border-t dark:border-gray-600 border-gray-600/20 pt-4">
                    <span class="flex items-center gap-x-1 text-base text-gray-500 dark:text-gray-200">
                        <svg class="size-5 text-red-600">
                            <use href="#fire"></use>
                        </svg>
                        <p>جستجو های پرطرفدار</p>
                    </span>
                    <ul class="w-full flex flex-wrap gap-2 mt-3">
                        {% for item in popular_search %}
                            <li class="max-w-max">
                                <a href="#"
                                   class="popular-search-item flex border dark:border-gray-600 border-gray-600/20 rounded-2xl px-2 py-1 text-sm">
                                    <p class="mr-1">{{ item.name }}</p>
                                    <svg class="size-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- bottom Navbar-->
    <ul class="bottom-navbar">

        <button onclick="window.location.href='{% url 'product_list' %}'" class="dark:text-sky-400 text-blue-500 font-DanaMedium">
            <svg class="size-5">
                <use href="#home"></use>
            </svg>
            <a>خانه</a>
        </button>

        <button onclick="window.location.href='{% url 'product_list' %}'">
            <svg class="size-5">
                <use href="#squares"></use>
            </svg>
            <a>فروشگاه</a>
        </button>

        <button onclick="window.location.href='
                {% if request.user.is_authenticated %}{% url 'user_cart_view' %}{% else %}{% url 'auth_page' %}{% endif %}'">
            <svg class="size-5">
                <use href="#shopping-bag"></use>
            </svg>
            <a>سبد خرید</a>
        </button>

        {% if request.user.is_authenticated %}
            <button onclick="window.location.href='{% url 'dashboard_view' %}'">
                <a>
                    <svg class="size-5">
                        <use href="#user"></use>
                    </svg>
                    <a>حساب کاربری</a>
                </a>
            </button>
        {% else %}
            <button onclick="window.location.href='{% url 'auth_page' %}'">
                <a>
                    <svg class="size-5">
                        <use href="#user"></use>
                    </svg>
                    <a>ورود | ثبت نام</a>
                </a>
            </button>
        {% endif %}
    </ul>
</div>
