{% load extra_filters %}
<ul class="child:flex child:items-center child:justify-between space-y-8">
    <li>
        <p>قیمت کالاها</p>
        <p id="cart-total-before-discount"
           class="flex gap-x-1 text-gray-600 dark:text-gray-300 ">{{ total_before_discount|three_digits }}
            <span class="hidden xl:flex">تومان</span>
        </p>
    </li>
    <li>
        <p>تخفیف </p>
        <p id="cart-total-profit" class="font-DanaDemiBold flex gap-x-1 text-gray-600 dark:text-gray-300">
            {{ total_profit|three_digits }}
            <span class="hidden xl:flex">تومان</span>
        </p>
    </li>
    <li class="border-t-2 border-dashed border-gray-400 pt-8">
        <p> مبلغ نهایی :</p>
        <p id="cart-final-price" class="font-DanaDemiBold flex gap-x-1 text-gray-600 dark:text-gray-300 ">
            {{ final_price|three_digits }}
            <span class="hidden xl:flex">تومان</span>
        </p>
    </li>
</ul>
