{% load extra_filters %}
<div class="product-card group">
    <div class="product-card_header">
        <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
        <div class="flex items-center gap-x-2">
            <div class="tooltip">
                <button class="rounded-full p-1.5 app-border app-hover">
                    <svg class="size-5">
                        <use href="#shopping-cart"></use>
                    </svg>
                </button>
                <div class="tooltiptext">
                    سبد خرید
                </div>
            </div>
            <div class="tooltip">
                <button class="favorite-btn rounded-full p-1.5 app-border app-hover"
                        data-product-id="{{ product.id }}"
                        data-is-favorited="{{ product.is_favorited }}">
                    <svg fill="{% if product.is_favorited %}currentColor{% else %}none{% endif %}"
                         xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                         viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                        <path d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"/>
                    </svg>
                </button>
                <div class="tooltiptext">
                    علاقه مندی
                </div>
            </div>
        </div>
        {% if product.discount_rate %}
            <span class="product-card_badge">{{ product.discount_rate }}% تخفیف‌</span>
        {% endif %}
    </div>
    <a href="{{ product.get_absolute_url }}">
        <img class="product-card_img group-hover:opacity-0 absolute border-2 dark:border-gray-700 rounded-md"
             src="{{ product.image.url }}"
             alt="{{ product.title }}">
        {% if product.first_gallery %}
            <img class="product-card_img opacity-0 group-hover:opacity-100 border-2 dark:border-gray-700 rounded-md"
                 src="{% if product.first_gallery %}{{ product.first_gallery.image.url }}{% endif %}"
                 alt="{{ product.title }}">
        {% else %}
            <img class="product-card_img group-hover:opacity-0 absolute border-2 dark:border-gray-700 rounded-md"
                 src="{{ product.image.url }}"
                 alt="{{ product.title }}">
        {% endif %}
    </a>
    <div class="space-y-2">
        <a href="{{ product.get_absolute_url }}" class="product-card_link">{{ product.title }}</a>
        <div class="product-card_price-wrapper">
            <div class="product-card_price">
                {% if product.discount_rate %}
                    <del>{{ product.price|three_digits }} <h6>تومان</h6></del>
                    <p>{{ product.final_price|three_digits }}</p>
                    <span>تومان</span>
                {% else %}
                    <p>{{ product.price|three_digits }}</p>
                    <span>تومان</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
